@font-face {
    font-family: "KyoboHandwriting2020A";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    font-family: "KyoboHandwriting2020A";
  }
  
  nav {
    background-color: #e69a06;
    height: 59px;
  }

  .nav-title{
    font-size: 3rem;
  }
  
  .nav-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-contact {
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: inherit;
  }
  
  @media all and (min-width: 1024px) {
    .inner {
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  .inner {
    padding: 0 1.5rem;
  }

  main{
    padding-top: 1.5rem;
    height: calc(100% - 59px);
    display: flex;
    flex-direction: column;
  }

  .category-title{
    font-size: 3.5rem;
  }

  .category-item{
    width: 24.5%;
    height: 5rem;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
  }

  .category-item:hover{
    color: #e69a06;
    cursor: pointer;
  }

  body{
    height: 100vh;
  }

  #map{
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }